.index {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(255, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(255, 0, 0, 1), rgba(0, 0, 0, 0));
}

.container {
  display: flex;
  height: 100vh;
  gap: 7%;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    background: linear-gradient(to top right, #b2b2b2 1% , white);
  }
}

.contentContainer {
  flex-grow: 999;
  background: linear-gradient(to top, rgb(0 0 0 / 40%), rgb(255 255 255 / 0%), rgb(0 0 0 / 40%));
}
