.container {
  flex-grow: 1;
  background-image: linear-gradient(to right, #b2b2b2 1% , white);
  min-width: fit-content;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-top: 4em;
    overflow-y: auto;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
}

.text {
  margin-left: 2em;
  margin-right: 5em;
}
