.container {
  flex-grow: 1;
  background-image: linear-gradient(to right, #b2b2b2 1% , white);
  will-change: transform;
  animation: marquee 32s linear infinite;
  min-width: fit-content;
}

@keyframes marquee {
  from { transform: translateY(0); }
  to { transform: translateY(-50%); }
}


@media only screen and (max-width: 1024px) {
  .container {
    display: none;
    visibility: hidden;
  }
}

.text {
  margin-left: 2em;
  margin-right: 5em;
}
